.main-content {
    background-color: #FAFAFE;
    border: 8px solid #D4D4D4;
    border-radius: 20px;
    width: 80%;
    height: 70%;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.dream-content {
    padding: 10px;
    flex: 2;
}

.info-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;
}

.dream-content {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 24px;
}

.dream-title {
    font-family: 'Krona One', sans-serif;
    font-size: 28px;
    margin: 5px;
    margin-bottom: 20px;
}

.dream-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.dream-info-left, .dream-info-right {
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
}

.dream-info-left {
    text-align: left;
    color: #454545;
}

.dream-info-left-dark {
    color: #bababa;
}

.dream-info-right {
    text-align: right;
    color: #000000;
}

.dream-info-right-dark {
    color: #ffffff;
}

.dream-description {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    overflow-y: scroll;
    flex: 1;
}