.main-content {
    background-color: #FAFAFE;
    border: 8px solid #D4D4D4;
    border-radius: 20px;
    width: 80%;
    height: 70%;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.dream-content {
    padding: 10px;
    flex: 2;
    overflow-y: scroll;
}

.info-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;
}

.dream-content {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 24px;
}

#dream-seperator-mobile {
    display: none;
}

.dream-title {
    font-family: 'Krona One', sans-serif;
    font-size: 28px;
    margin: 5px;
    margin-bottom: 20px;
}

.dream-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.dream-info-left, .dream-info-right {
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
}

.dream-info-left {
    text-align: left;
    color: #454545;
}

.dream-info-left-dark {
    color: #bababa;
}

.dream-info-right {
    text-align: right;
    color: #000000;
}

.dream-info-right-dark {
    color: #ffffff;
}

.dream-description {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    overflow-y: scroll;
    flex: 1;
}

.dream-options { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.dream-buttons {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
}

.dream-buttons:hover {
    transform: scale(1.1);
}

.edit-dream-button {
    background-color: #7E24B6;
}

.delete-dream-button {
    background-color: #E16266;
}

.share-dream-button {
    background-color: #FCB67C;
}

.edit-dream-button-dark {
    background-color: #303593 !important;
}

.delete-dream-button-dark {
    background-color: #7479D5 !important;
}

.share-dream-button-dark {
    background-color: #AF76D5 !important;
}

@media only screen and (max-width: 850px) {
    body {
        padding: 0;
        margin: 0;
    }

    .main-content {
        align-self: center;
        flex-direction: column;
        height: 65%;
    }

    .dream-content {
        font-size: 16px;
        flex: 1;
    }

    #dream-seperator {
        display: none;
    }

    #dream-seperator-mobile {
        display: block;
    }

    .dream-options {
        position: absolute;
        bottom: 20px;
        width: fit-content;
        border: 10px solid #D4D4D4;
        border-radius: 20px;
        box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
        background-color: #FAFAFE;
    }
    
    .dream-info-left, .dream-info-right {
        font-size: 16px;
    }

    .dream-buttons {
        height: 90px;
        width: 90px;
    }

    .dream-description {
        font-size: 16px;
    }
}