.new-dream-container {
    width: 40%;
    height: fit-content;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #FAFAFE;
    border: 8px solid #D4D4D4;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
}

.new-dream-form {
    width: 100%;
    height: 100%;
}

.new-dream-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.new-dream-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.new-dream-input {
    width: 80%;
    height: 20px;
    background-color: #D4D4D4;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

.dark-mode-input {
    background-color: #4A4A4A;
    color: white;
}

.new-dream-submit {
    width: 40%;
    background-color: rgb(126,36,176);
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.new-dream-submit-dark {
    background-color: #303593;
}

.new-dream-submit:hover {
    transform: scale(1.1);
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #E16266;
    transition: transform 0.2s;
}

.link-dark {
    color: #7479D5;
}

.new-dream-checkbox {
    width: 20px;
    height: 20px;
    background-color: #D4D4D4; 
}

.left-align {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

@media screen and (max-width: 800px) {
    .new-dream-container {
        width: 80%;
    }
    
}