.register-box {
    width: 40%;
    height: fit-content;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #FAFAFE;
    border: 8px solid #D4D4D4;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.26);
}

.register-form {
    width: 100%;
    height: 100%;
}

.register-box-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.register-box-input {
    width: 80%;
    height: 30px;
    background-color: #D4D4D4;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

.dark-mode-input {
    background-color: #4A4A4A;
    color: white;
}

.register-box-button {
    width: 40%;
    background-color: rgb(126,36,176);
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.register-box-button-dark {
    background-color: #303593;
}

.register-box-button:hover {
    transform: scale(1.1);
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #E16266;
    transition: transform 0.2s;
}

.link-dark {
    color: #7479D5;
}

.register-box-buttons {
    display: flex;
    flex-direction: column; /* Stack the terms and register button vertically */
    justify-content: center; /* Center the elements vertically */
    align-items: center; /* Center the elements horizontally */
    width: 100%; /* Ensure it takes full width of the form */
}


.terms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border: 4px dashed #D4D4D4;
    border-radius: 10px;
}

.register-box-checkbox {
    width: 20px;
    height: 20px;
    background-color: #D4D4D4; 
}

@media screen and (max-width: 800px) {
    .register-box {
        width: 80%;
    }
    
}