<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dream.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <div class="header-left">
            <label class="switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="header-mid">
            <div id="dreams" class="header-buttons">DREAMS</div>
            <div class="vl"></div>
            <div id="home" class="header-buttons">HOME</div>
            <div class="vl"></div>
            <div id="about" class="header-buttons">ABOUT</div>
        </div>

        <div class="header-right">
            Aaron H.
            <img src="{{ url_for('static', filename='images/' + (id|string) + '.webp') }}" id="pfp">
        </div>
    </div>

    <script>

        function toggleDarkMode() {
            var bdy = document.body;
            var header = document.getElementsByClassName("header-container")[0];
            var headerButtons = document.getElementsByClassName("header-buttons");
            var vl = document.getElementsByClassName("vl");

            bdy.classList.toggle("dark-mode");
            header.classList.toggle("dark-mode-divs");
            for (var i = 0; i < headerButtons.length; i++) {
                headerButtons[i].classList.toggle("dark-mode-buttons");
            }
            for (var i = 0; i < vl.length; i++) {
                vl[i].classList.toggle("dark-mode-vl");
            }
        }

        document.getElementById('dark-mode-toggle').addEventListener('change', toggleDarkMode);

    </script>
</body>
</html>