<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Dream Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <div class="header-left">
            <div class="dropdown-button-mobile">
                <svg id="dropdown-svg" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" fill="none">
                    <path d="M8 6L21 6.00078M8 12L21 12.0008M8 18L21 18.0007M3 6.5H4V5.5H3V6.5ZM3 12.5H4V11.5H3V12.5ZM3 18.5H4V17.5H3V18.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
    
            <label class="switch" id="dark-mode-switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="header-mid">
            <div class="header-buttons dreams-button">DREAM</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons home-button">HOME</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons about-button">ABOUT</div>
        </div>

        <div class="header-right">
            {% if username %}
            <span id="user-name">{{ username }}</span>
            <img src="{{ url_for('static', filename='images/profilephotos/' + profile_pic) }}" id="pfp">
            {% else %}
            <a href="{{ url_for('login') }}" class="header-buttons">LOGIN</a>
            {% endif %}
        </div>
    </div>

    <div class="dropdown-content-mobile">
        <div class="dropdown-content">
            <div class="header-buttons dreams-button">DREAM</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons home-button">HOME</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons about-button">ABOUT</div>
        </div>
    </div>

    <div class="register-box">
        <div class="register-box-content">
            <div class="register-box-title">
                <h1>Register</h1>
            </div>
            <form action="{{ url_for('register') }}" method="POST" class="register-form">
                <div class="register-box-inputs">
                    <h3>Username:</h3>
                    <input type="text" placeholder="" name="username" class="register-box-input" id="username-input">
                    <h3>Email:</h3>
                    <input type="text" placeholder="" name="email" class="register-box-input" id="email-input">
                    <h3>Confirm Email:</h3>
                    <input type="text" placeholder="" name="confirm-email" class="register-box-input" id="confirm-email">
                    <h3>Password:</h3>
                    <input type="password"  placeholder="" name="password" class="register-box-input" id="password-input">
                    <h3>Confirm Password:</h3>
                    <input type="password"  placeholder="" name="confirm-password" class="register-box-input" id="confirm-password">
                    <br>
                </div>

                {% if err %}
                    <p style="color: red;">{{ err }}</p>
                {% endif %}

                <div class="register-box-buttons">
                    <br>
                    <div class="terms">
                        <p>
                        By signing up, you agree to our 
                        <a href="{{ url_for('terms') }}" class="link">Terms of Service</a> and 
                        <a href="{{ url_for('privacy') }}" class="link">Privacy Policy.</a>
                        </p>
                        <input type="checkbox" name="terms" value="terms" class="register-box-checkbox">
                    </div>
                    <br>
                    <input type="submit" value="Register" class="register-box-button">
                </div>
                Already a user? <a href="{{ url_for('login') }}" class="link">Log-in here!</a>
            </form>
        </div>
    </div>

    <script>
        const specialChars = [
            " ", "!", "@", "#", "$", "%", "^", "&", "*", "(", ")", "+", "=", "{", "}", "[", "]", ":", ";", "'", "\"", "<", ">", ",", ".", "?", "/", "\\", "|", "~", "`", "-", "°", "•", "€", "£", "¥", "¢"
        ];
  
        function validatePassword(passwordValue) {
            let passValid = true;

            if (passwordValue.length < 8 || passwordValue.length > 20) {
                passValid = false;
            }

            if (!/\d/.test(passwordValue)) {  // Check for digits
                passValid = false;
            }

            if (!/[A-Z]/.test(passwordValue)) {  // Check for uppercase letters
                passValid = false;
            }

            if (!/[a-z]/.test(passwordValue)) {  // Check for lowercase letters
                passValid = false;
            }

            // Check for any special character using regular expression
            if (!/[ !"@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(passwordValue)) {
                passValid = false;
            }

            return passValid;
        }

        function validateEmail(email) {
            return new Promise((resolve, reject) => {
                // Regular expression for basic email validation
                const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                // Test the email string against the regex
                if (!emailPattern.test(email)) {
                    resolve(false); // Invalid email
                    return;
                }

                // Make an AJAX call to check if the email exists
                $.ajax({
                    url: '/emailchecker/' + email,
                    method: 'GET',
                    success: function(data) {
                        // Resolve the promise with `true` (valid) or `false` (invalid) based on server response
                        if (data === 'true') {
                            resolve(false); // Email exists, invalid
                        } else {
                            resolve(true); // Email is valid
                        }
                    },
                    error: function() {
                        reject('Error during email validation');
                    }
                });
            });
        }

        function validateUsername(username) {
            return new Promise((resolve, reject) => {
                // Check username length
                if (username.length < 3 || username.length > 20) {
                    resolve(false); // Invalid username
                    return;
                }

                // Check for forbidden characters
                for (let i = 0; i < specialChars.length; i++) {
                    if (username.includes(specialChars[i])) {
                        resolve(false); // Invalid username due to special characters
                        return;
                    }
                }

                // Make an AJAX call to check if the username already exists
                $.ajax({
                    url: '/usernamechecker/' + username,
                    method: 'GET',
                    success: function(data) {
                        // Resolve the promise with `true` (valid) or `false` (invalid) based on server response
                        if (data === 'true') {
                            resolve(false); // Username exists, invalid
                        } else {
                            resolve(true); // Username is valid
                        }
                    },
                    error: function() {
                        reject('Error during username validation');
                    }
                });
            });
        }

        function validateCheck() {
            return new Promise((resolve, reject) => {
                if ($('.register-box-checkbox').is(':checked')) {
                    resolve(true);
                } else {
                    resolve(false);
                }
            });
        }

        async function validateForm(event) {
            event.preventDefault();

            let userNameValid = await validateUsername($('#username-input').val());
            let emailValid = false;
            let passwordValid = false;
            let termsValid = await validateCheck();
            
            if ($('#confirm-email').val() === $('#email-input').val()) {
                emailValid = await validateEmail($('#email-input').val());
            }

            if ($('#password-input').val() === $('#confirm-password').val()) {
                passwordValid = await validatePassword($('#password-input').val());
            }

            if (userNameValid && emailValid && passwordValid && termsValid) {
                $('.register-form')[0].submit();
            } else {
                alert('Invalid form data, please make sure all fields are correct.');
            }
        }

        $('.register-form').on('submit', validateForm);

        $('#username-input').on('input', async function() {
            const username = $('#username-input').val();
            
            if (username === "") {
                $('#username-input').css('border', 'none');
            } else {
                try {
                    const isValid = await validateUsername(username); // Wait for the promise to resolve
                    if (isValid) {
                        $('#username-input').css('border', '4px solid green');
                    } else {
                        $('#username-input').css('border', '4px solid red');
                    }
                } catch (error) {
                    console.error(error);
                }
            }
        });

        $('#email-input').on('input', async function() {
            const email = $('#email-input').val();
            
            if (email === "") {
                $('#email-input').css('border', 'none');
            } else {
                try {
                    const isValid = await validateEmail(email); // Wait for the promise to resolve
                    if (isValid) {
                        $('#email-input').css('border', '4px solid green');
                    } else {
                        $('#email-input').css('border', '4px solid red');
                    }
                    
                    // Confirm email field check
                    if (email === $('#confirm-email').val()) {
                        $('#confirm-email').css('border', '4px solid green');
                    } else {
                        $('#confirm-email').css('border', '4px solid red');
                    }
                } catch (error) {
                    console.error(error);
                }
            }
        });

        $('#confirm-email').on('input', function() {
            if ($('#confirm-email').val() === "") {
                $('#confirm-email').css('border', 'none');
            }
            else if ($('#email-input').val() === $('#confirm-email').val()) {
                $('#confirm-email').css('border', '4px solid green');
            } else {
                $('#confirm-email').css('border', '4px solid red');
            }
        });

        $('#password-input').on('input', function() {

            if ($('#password-input').val() === "") {
                $('#password-input').css('border', 'none');
            }
            else {
                const passwordValue = $('#password-input').val();

                let passwordValid = validatePassword(passwordValue);
                
                // Update input border color based on validation result
                if (passwordValid) {
                    $('#password-input').css('border', '4px solid green');
                } else {
                    $('#password-input').css('border', '4px solid red');
                }

                if ($('#password-input').val() === $('#confirm-password').val()) {
                    $('#confirm-password').css('border', '4px solid green');
                } else {
                    $('#confirm-password').css('border', '4px solid red');
                }
            }
            });

        $('#confirm-password').on('input', function() {
            if ($('#password-input').val() === $('#confirm-password').val()) {
                $('#confirm-password').css('border', '4px solid green');
            } else {
                $('#confirm-password').css('border', '4px solid red');
            }
        });


    </script>

    <script>
        const dropDownButton = document.getElementsByClassName("dropdown-button-mobile")[0];
        const dropDownContent = document.getElementsByClassName("dropdown-content-mobile")[0];

        dropDownButton.addEventListener("click", function() {
            dropDownContent.classList.toggle("show");
        });

        window.addEventListener("resize", function() {
            if (window.innerWidth > 850) {
                dropDownContent.classList.remove("show");
            }
        });
    </script>

    <script>
        function goToPage(page) {
            window.location.href = page;
        }

        var dreamsButtons = document.getElementsByClassName("dreams-button");
        var homeButtons = document.getElementsByClassName("home-button");
        var aboutButtons = document.getElementsByClassName("about-button");

        for (var i = 0; i < dreamsButtons.length; i++) {
            dreamsButtons[i].addEventListener("click", function() {
                goToPage("/dream");
            });
        }

        for (var i = 0; i < homeButtons.length; i++) {
            homeButtons[i].addEventListener("click", function() {
                goToPage("/");
            });
        }

        for (var i = 0; i < aboutButtons.length; i++) {
            aboutButtons[i].addEventListener("click", function() {
                goToPage("/about");
            });
        }
    </script>

    <script>
        var bdy = document.body;
        var header = document.getElementsByClassName("header-container")[0];
        var headerButtons = document.getElementsByClassName("header-buttons");
        var vl = document.getElementsByClassName("vl");
        var hl = document.getElementsByClassName("hl");
        var dropDownContainer = document.getElementsByClassName("dropdown-content-mobile")[0];
        var dropDownSVG = document.getElementById("dropdown-svg").querySelector("path");
        var registerBox = document.getElementsByClassName("register-box")[0];
        var inputs = document.getElementsByClassName("register-box-input");
        var submitButton = document.getElementsByClassName("register-box-button")[0];
        var loginLink = document.getElementsByClassName("link");
        
        function toggleDarkMode() {
            if (localStorage.getItem('dark-mode') === 'true') {
                localStorage.setItem('dark-mode', 'false');
            } else {
                localStorage.setItem('dark-mode', 'true');
            }

            if (dropDownSVG.style.stroke === "rgb(255, 255, 255)") {
                dropDownSVG.style.stroke = "rgb(0, 0, 0)";
            } else {
                dropDownSVG.style.stroke = "rgb(255, 255, 255)";
            }

            dropDownContainer.classList.toggle("dark-mode-divs");
            bdy.classList.toggle("dark-mode");
            header.classList.toggle("dark-mode-divs");
            registerBox.classList.toggle("dark-mode-divs");
            submitButton.classList.toggle("register-box-button-dark");
            
            for (var i = 0; i < loginLink.length; i++) {
                loginLink[i].classList.toggle("link-dark");
            }

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].classList.toggle("dark-mode-input");
            }
            
            for (var i = 0; i < headerButtons.length; i++) {
                headerButtons[i].classList.toggle("dark-mode-buttons");
            }
            for (var i = 0; i < vl.length; i++) {
                vl[i].classList.toggle("dark-mode-line");
            }
            for (var i = 0; i < hl.length; i++) {
                hl[i].classList.toggle("dark-mode-line");
            }

        }

        const toggle = document.getElementById('dark-mode-toggle');

        let isDarkMode = localStorage.getItem('dark-mode') === 'true';

        if (isDarkMode) {
            toggle.checked = true;
            toggleDarkMode();
            localStorage.setItem('dark-mode', 'true');
        }

       toggle.addEventListener('change', toggleDarkMode);
    </script>

</body>
</html>