<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Dream Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dream.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <div class="header-left">
            <div class="dropdown-button-mobile">
                <svg id="dropdown-svg" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" fill="none">
                    <path d="M8 6L21 6.00078M8 12L21 12.0008M8 18L21 18.0007M3 6.5H4V5.5H3V6.5ZM3 12.5H4V11.5H3V12.5ZM3 18.5H4V17.5H3V18.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
    
            <label class="switch" id="dark-mode-switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="header-mid">
            <div class="header-buttons dreams-button">DREAM</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons home-button">HOME</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons about-button">ABOUT</div>
        </div>

        <div class="header-right">
            {% if username %}
            <span id="user-name">{{ username }}.</span>
            <img src="{{ url_for('static', filename='images/profilephotos/' + profile_pic) }}" id="pfp">
            {% else %}
            <a href="{{ url_for('login') }}" class="header-buttons">LOGIN</a>
            {% endif %}
        </div>
    </div>

    <div class="dropdown-content-mobile">
        <div class="dropdown-content">
            <div class="header-buttons dreams-button">DREAM</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons home-button">HOME</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons about-button">ABOUT</div>
        </div>
    </div>

    <div class="link-copied-popup">
        Link copied!
    </div>

    <div class="confirmation-popup">
        <div class="confirmation-popup-content">
            <div class="confirmation-popup-text">
                Are you sure you want to delete this dream?
            </div>
            <div class="confirmation-popup-buttons">
                <div class="confirmation-popup-button yes-button">
                    Yes
                </div>
                <div class="confirmation-popup-button no-button">
                    No
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <textarea readonly class="dream-content">{{content}}</textarea>

        <div class="vl" style="height: 100%;" id="dream-seperator"></div>
        <div class="hl" style="width: 80%; align-self: center;" id="dream-seperator-mobile"></div>

        <div class="info-and-buttons">
            <div class="dream-title">{{ title }}</div>
            <div class="hl" style="width: 80%; align-self: center;"></div>    
            <div class="dream-info">
                <div class="dream-info-left">
                    Date:<br>
                    Dreamer:<br>
                    Genre:<br>
                    Description:<br>
                </div>
                <div class="dream-info-right">
                    {{ upload_date }}<br>
                    {{ author }}<br>
                    {{ tag }}<br>
                </div>
            </div>

            <div class="dream-description">
                {{ description }}
            </div>

    <div class="dream-options">
        {% if user_is_author %}
            <div class="dream-buttons edit-dream-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 16 16" fill="none">
                    <path d="M8.29289 3.70711L1 11V15H5L12.2929 7.70711L8.29289 3.70711Z" fill="#FFFFFF"/>
                    <path d="M9.70711 2.29289L13.7071 6.29289L15.1716 4.82843C15.702 4.29799 16 3.57857 16 2.82843C16 1.26633 14.7337 0 13.1716 0C12.4214 0 11.702 0.297995 11.1716 0.828428L9.70711 2.29289Z" fill="#FFFFFF"/>
                </svg>
            </div>

            <div class="dream-buttons delete-dream-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        {% endif %}
        <div class="dream-buttons share-dream-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 24 24" fill="none">
                <path d="M9.61109 12.4L10.8183 18.5355C11.0462 19.6939 12.6026 19.9244 13.1565 18.8818L19.0211 7.84263C19.248 7.41555 19.2006 6.94354 18.9737 6.58417M9.61109 12.4L5.22642 8.15534C4.41653 7.37131 4.97155 6 6.09877 6H17.9135C18.3758 6 18.7568 6.24061 18.9737 6.58417M9.61109 12.4L18.9737 6.58417M19.0555 6.53333L18.9737 6.58417" stroke="#FFFFFF" stroke-width="2"/>
            </svg>
        </div>
    </div>
</div>
</div>

<div class="dream-options-mobile">
    {% if user_is_author %}
        <div class="dream-buttons edit-dream-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 16 16" fill="none">
                <path d="M8.29289 3.70711L1 11V15H5L12.2929 7.70711L8.29289 3.70711Z" fill="#FFFFFF"/>
                <path d="M9.70711 2.29289L13.7071 6.29289L15.1716 4.82843C15.702 4.29799 16 3.57857 16 2.82843C16 1.26633 14.7337 0 13.1716 0C12.4214 0 11.702 0.297995 11.1716 0.828428L9.70711 2.29289Z" fill="#FFFFFF"/>
            </svg>
        </div>

        <div class="dream-buttons delete-dream-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 24 24" fill="none">
                <path d="M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    {% endif %}
        <div class="dream-buttons share-dream-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 24 24" fill="none">
                <path d="M9.61109 12.4L10.8183 18.5355C11.0462 19.6939 12.6026 19.9244 13.1565 18.8818L19.0211 7.84263C19.248 7.41555 19.2006 6.94354 18.9737 6.58417M9.61109 12.4L5.22642 8.15534C4.41653 7.37131 4.97155 6 6.09877 6H17.9135C18.3758 6 18.7568 6.24061 18.9737 6.58417M9.61109 12.4L18.9737 6.58417M19.0555 6.53333L18.9737 6.58417" stroke="#FFFFFF" stroke-width="2"/>
            </svg>
        </div>
    </div>

    <script>
        const pfp = document.getElementById("pfp");

        pfp.addEventListener("click", function() {
            window.location.href = "/profile/{{ user_id }}";
        });
    </script>

    <script>
        const dropDownButton = document.getElementsByClassName("dropdown-button-mobile")[0];
        const dropDownContent = document.getElementsByClassName("dropdown-content-mobile")[0];

        dropDownButton.addEventListener("click", function() {
            dropDownContent.classList.toggle("show");
        });

        window.addEventListener("resize", function() {
            if (window.innerWidth > 850) {
                dropDownContent.classList.remove("show");
            }
        });
    </script>

    <script>

        const userAuthor = {{ user_is_author|tojson }};

        function goToPage(page) {
            window.location.href = page;
        }

        var dreamsButtons = document.getElementsByClassName("dreams-button");
        var homeButtons = document.getElementsByClassName("home-button");
        var aboutButtons = document.getElementsByClassName("about-button");

        for (var i = 0; i < dreamsButtons.length; i++) {
            dreamsButtons[i].addEventListener("click", function() {
                goToPage("/dream");
            });
        }

        for (var i = 0; i < homeButtons.length; i++) {
            homeButtons[i].addEventListener("click", function() {
                goToPage("/");
            });
        }

        for (var i = 0; i < aboutButtons.length; i++) {
            aboutButtons[i].addEventListener("click", function() {
                goToPage("/about");
            });
        }

        var shareDreamButtons = document.getElementsByClassName("share-dream-button");

        for (var i = 0; i < shareDreamButtons.length; i++) {
            shareDreamButtons[i].addEventListener("click", function() {
                navigator.clipboard.writeText(window.location.href);
                var linkCopiedPopup = document.getElementsByClassName("link-copied-popup")[0];
                linkCopiedPopup.style.opacity = "1";
                setTimeout(function() {
                    linkCopiedPopup.style.opacity = "0";
                }, 1000);
            });
        }

        try {

            var editDreamButtons = document.getElementsByClassName("edit-dream-button");

            var deleteDreamButtons = document.getElementsByClassName("delete-dream-button");

            var confirmationPopup = document.getElementsByClassName("confirmation-popup")[0];
            var confirmationButton = document.getElementsByClassName("yes-button")[0];
            var cancelButton = document.getElementsByClassName("no-button")[0];


            for (var i = 0; i < editDreamButtons.length; i++) {
                editDreamButtons[i].addEventListener("click", function() {
                    goToPage("/edit/{{ dream_id }}");
                });
            }

            confirmationButton.addEventListener("click", function() {
                var dreamID = "{{ dream_id }}";
                goToPage("/delete/" + dreamID);
            });

            cancelButton.addEventListener("click", function() {
                confirmationPopup.style.display = "none";
            });

            for (var i = 0; i < deleteDreamButtons.length; i++) {
                deleteDreamButtons[i].addEventListener("click", function() {
                    confirmationPopup.style.display = "flex";
                });
            }

        }
        catch (e) {
            console.log('user not author');
            console.log(e);
        }
    </script>

    <script>
        var bdy = document.body;
        var header = document.getElementsByClassName("header-container")[0];
        var headerButtons = document.getElementsByClassName("header-buttons");
        var vl = document.getElementsByClassName("vl");
        var hl = document.getElementsByClassName("hl");
        var mainContent = document.getElementsByClassName("main-content")[0];
        var dreamInfoLeft = document.getElementsByClassName("dream-info-left")[0];
        var dreamInfoRight = document.getElementsByClassName("dream-info-right")[0];
        var dreamButtons = document.getElementsByClassName("dream-buttons");
        var dreamButtonsContainer = document.getElementsByClassName("dream-options")[0];
        var dropDownContainer = document.getElementsByClassName("dropdown-content-mobile")[0];
        var dropDownSVG = document.getElementById("dropdown-svg").querySelector("path");
        var mobileButtons = document.getElementsByClassName("dream-options-mobile")[0];
        var textAreaContent = document.getElementsByClassName("dream-content")[0];
        
        function toggleDarkMode() {
            if (localStorage.getItem('dark-mode') === 'true') {
                localStorage.setItem('dark-mode', 'false');
            } else {
                localStorage.setItem('dark-mode', 'true');
            }

            if (dropDownSVG.style.stroke === "rgb(255, 255, 255)") {
                dropDownSVG.style.stroke = "rgb(0, 0, 0)";
            } else {
                dropDownSVG.style.stroke = "rgb(255, 255, 255)";
            }

            for (var i = 0; i < dreamButtons.length; i++) {
                if (dreamButtons[i].classList.contains("edit-dream-button")) {
                    dreamButtons[i].classList.toggle("edit-dream-button-dark");
                }
                else if(dreamButtons[i].classList.contains("delete-dream-button")) {
                    dreamButtons[i].classList.toggle("delete-dream-button-dark");
                }
                else {
                    dreamButtons[i].classList.toggle("share-dream-button-dark");
                }
            }

            dropDownContainer.classList.toggle("dark-mode-divs");
            dreamButtonsContainer.classList.toggle("dark-mode-divs");
            dreamInfoLeft.classList.toggle("dream-info-left-dark");
            dreamInfoRight.classList.toggle("dream-info-right-dark");
            bdy.classList.toggle("dark-mode");
            header.classList.toggle("dark-mode-divs");
            mainContent.classList.toggle("dark-mode-divs");
            mobileButtons.classList.toggle("dark-mode-divs");
            textAreaContent.classList.toggle("dream-content-dark");
            

            for (var i = 0; i < headerButtons.length; i++) {
                headerButtons[i].classList.toggle("dark-mode-buttons");
            }
            for (var i = 0; i < vl.length; i++) {
                vl[i].classList.toggle("dark-mode-line");
            }
            for (var i = 0; i < hl.length; i++) {
                hl[i].classList.toggle("dark-mode-line");
            }

        }

        const toggle = document.getElementById('dark-mode-toggle');

        let isDarkMode = localStorage.getItem('dark-mode') === 'true';

        if (isDarkMode) {
            toggle.checked = true;
            toggleDarkMode();
            localStorage.setItem('dark-mode', 'true');
        }

       toggle.addEventListener('change', toggleDarkMode);
    </script>

</body>
</html>