<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse the Dreamscape - Dream Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dream_browser.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <div class="header-left">
            <div class="dropdown-button-mobile">
                <svg id="dropdown-svg" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" fill="none">
                    <path d="M8 6L21 6.00078M8 12L21 12.0008M8 18L21 18.0007M3 6.5H4V5.5H3V6.5ZM3 12.5H4V11.5H3V12.5ZM3 18.5H4V17.5H3V18.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
    
            <label class="switch" id="dark-mode-switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="header-mid">
            <div class="header-buttons dreams-button">DREAM</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons home-button">HOME</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons about-button">ABOUT</div>
        </div>

        <div class="header-right">
            {% if username %}
            <span id="user-name">{{ username }}</span>
            <img src="{{ url_for('static', filename='images/profilephotos/' + profile_pic) }}" id="pfp">
            {% else %}
            <a href="{{ url_for('login') }}" class="header-buttons">LOGIN</a>
            {% endif %}
        </div>
    </div>

    <div class="dropdown-content-mobile">
        <div class="dropdown-content">
            <div class="header-buttons dreams-button">DREAM</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons home-button">HOME</div>
            <div class="vl" style="height: 80%;"></div>
            <div class="header-buttons about-button">ABOUT</div>
        </div>
    </div>

    <div class="browser">
        <input label="Search" type="text" class="search-bar" placeholder="Search for dreams...">

        <table class="dream-table">
            <tbody>
                <tr class="dream-row">
                    <th class="dream-heading">Title</th>
                    <th class="dream-heading">Tag</th>
                    <th class="dream-heading">Author</th>
                    <th class="dream-heading dream-date">Date</th>
                </tr>
                {% for dream in dreams %}
                <tr class="dream-row clickable-row" id="{{ dream[0] }}">
                    <td class="dream-cell dream-title">{{ dream[2] }}</td>  <!-- dream title (2nd element) -->
                    <td class="dream-cell dream-tag">{{ dream[5] }}</td>  <!-- tag (6th element) -->
                    <td class="dream-cell dream-author">{{ author_id_to_name[dream[4]] }}</td>  <!-- author, possibly from a related table or to be fetched separately -->
                    <td class="dream-cell dream-date">{{ dream[6] }}</td>  <!-- upload date (7th element) -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <script>
        const searchBar = document.getElementsByClassName("search-bar")[0];
    
        searchBar.addEventListener("input", function() {
            const search = searchBar.value.toLowerCase(); // Ensures case-insensitive search
            const rows = document.querySelectorAll("tr");
    
            for (let i = 1; i < rows.length; i++) {
                const titleElement = rows[i].querySelector(".dream-title");
                const tagElement = rows[i].querySelector(".dream-tag");
                const authorElement = rows[i].querySelector(".dream-author");
                const dateElement = rows[i].querySelector(".dream-date");
    
                const title = titleElement ? titleElement.textContent.toLowerCase() : "";
                const tag = tagElement ? tagElement.textContent.toLowerCase() : "";
                const author = authorElement ? authorElement.textContent.toLowerCase() : "";
                const date = dateElement ? dateElement.textContent.toLowerCase() : "";
        
                if (title.includes(search) || tag.includes(search) || author.includes(search) || date.includes(search)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        });
    </script>
    
    <script>
        const rows = document.querySelectorAll(".clickable-row");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = `/dream/${row.id}`;
            });
        });
    </script>

    <script>
        const pfp = document.getElementById("pfp");

        pfp.addEventListener("click", function() {
            window.location.href = "/profile/{{ user_id }}";
        });
    </script>

    <script>
        const dropDownButton = document.getElementsByClassName("dropdown-button-mobile")[0];
        const dropDownContent = document.getElementsByClassName("dropdown-content-mobile")[0];

        dropDownButton.addEventListener("click", function() {
            dropDownContent.classList.toggle("show");
        });

        window.addEventListener("resize", function() {
            if (window.innerWidth > 850) {
                dropDownContent.classList.remove("show");
            }
        });
    </script>

    <script>
        function goToPage(page) {
            window.location.href = page;
        }

        var dreamsButtons = document.getElementsByClassName("dreams-button");
        var homeButtons = document.getElementsByClassName("home-button");
        var aboutButtons = document.getElementsByClassName("about-button");

        for (var i = 0; i < dreamsButtons.length; i++) {
            dreamsButtons[i].addEventListener("click", function() {
                goToPage("/dream");
            });
        }

        for (var i = 0; i < homeButtons.length; i++) {
            homeButtons[i].addEventListener("click", function() {
                goToPage("/");
            });
        }

        for (var i = 0; i < aboutButtons.length; i++) {
            aboutButtons[i].addEventListener("click", function() {
                goToPage("/about");
            });
        }
    </script>

    <script>
        var bdy = document.body;
        var header = document.getElementsByClassName("header-container")[0];
        var headerButtons = document.getElementsByClassName("header-buttons");
        var vl = document.getElementsByClassName("vl");
        var hl = document.getElementsByClassName("hl");
        var dropDownContainer = document.getElementsByClassName("dropdown-content-mobile")[0];
        var dropDownSVG = document.getElementById("dropdown-svg").querySelector("path");
        var dreamBrowser = document.getElementsByClassName("browser")[0];
        var tdsThsTrs = document.querySelectorAll("td, th, tr");
        
        function toggleDarkMode() {
            if (localStorage.getItem('dark-mode') === 'true') {
                localStorage.setItem('dark-mode', 'false');
            } else {
                localStorage.setItem('dark-mode', 'true');
            }

            if (dropDownSVG.style.stroke === "rgb(255, 255, 255)") {
                dropDownSVG.style.stroke = "rgb(0, 0, 0)";
            } else {
                dropDownSVG.style.stroke = "rgb(255, 255, 255)";
            }

            dropDownContainer.classList.toggle("dark-mode-divs");
            bdy.classList.toggle("dark-mode");
            header.classList.toggle("dark-mode-divs");
            dreamBrowser.classList.toggle("dark-mode-divs");
            searchBar.classList.toggle("search-bar-dark");

            for (var i = 0; i < tdsThsTrs.length; i++) {
                tdsThsTrs[i].classList.toggle("cell-row-dark");
            }
            
            for (var i = 0; i < headerButtons.length; i++) {
                headerButtons[i].classList.toggle("dark-mode-buttons");
            }
            for (var i = 0; i < vl.length; i++) {
                vl[i].classList.toggle("dark-mode-line");
            }
            for (var i = 0; i < hl.length; i++) {
                hl[i].classList.toggle("dark-mode-line");
            }

        }

        const toggle = document.getElementById('dark-mode-toggle');

        let isDarkMode = localStorage.getItem('dark-mode') === 'true';

        if (isDarkMode) {
            toggle.checked = true;
            toggleDarkMode();
            localStorage.setItem('dark-mode', 'true');
        }

       toggle.addEventListener('change', toggleDarkMode);
    </script>

</body>
</html>